<div class="d-flex justify-content-center">
    <div class="white-background">
        <ul class ="adminFaq">
                <div *ngFor="let strings of faqStrings; let i = index">
                    <div><label>{{strings}}</label>
                        <!--
                    <div *ngIf="profile != null">
                        <div *ngIf="profile.isOwner == true">
                    <div id="faqInput{{strings}}" style="display:none;">
                        <input type="text" placeholder="{{strings}}" id="updatedString" #updatedString />
                    </div>
                    <button type="button" (click)="open(content)">Change</button> </div>

                    <ng-template #content let-modal id="updateModal">
                        <div class="modal-header">
                            <h1 class="modal-title" id="update-Modal">Change text: <br/> {{strings}}</h1>
                            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                        </div>
                        <div class="modal-body">
                            <form> 
                                <div class="form-group">
                                    <label for="updated-product-quantity"> Change text to: </label>
                                    <input type="text" id="updated-string" #updatedString />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" (click)="modal.close(); updateString(i, updatedString.value)">Save and change</button>
                        </div>
                </ng-template> 
            </div>
            -->
            </div>
            </div>
        </ul>
    </div>
</div>
