<div class="month">
    <ul>
      <li>December<br>
        <span style="font-size:52px">2022</span><br>
        <span style="font-size:24px">Our hours are 12pm-7pm on Weekdays (Mon-Fri)</span>
    </li>
    </ul>
  </div>
  
  <ul class="weekdays">
    <li>Sun</li>
    <li>Mon</li>
    <li>Tue</li>
    <li>Wed</li>
    <li>Thu</li>
    <li>Fri</li>
    <li>Sat</li>
  </ul>
  
  <ul class="days">
    <li>27</li>
    <li>28</li>
    <li>29</li>
    <li>30</li>
    <a routerLink="/detail/12-1-2022"> <span class="badge">1</span></a>
    <a routerLink="/detail/12-2-2022"> <span class="badge">2</span></a>
    <li>3</li>
    <li>4</li>
    <a routerLink="/detail/12-5-2022"> <span class="badge">5</span></a>
    <a routerLink="/detail/12-6-2022"> <span class="badge">6</span></a>
    <a routerLink="/detail/12-7-2022"> <span class="badge">7</span></a>
    <a routerLink="/detail/12-8-2022"> <span class="badge">8</span></a>
    <a routerLink="/detail/12-9-2022"> <span class="badge">9</span></a>
    <li>10</li>
    <li>11</li>
    <a routerLink="/detail/12-12-2022"> <span class="badge">12</span></a>
    <a routerLink="/detail/12-13-2022"> <span class="badge">13</span></a>
    <a routerLink="/detail/12-14-2022"> <span class="badge">14</span></a>
    <a routerLink="/detail/12-15-2022"> <span class="badge">15</span></a>
    <a routerLink="/detail/12-16-2022"> <span class="badge">16</span></a>
    <li>17</li>
    <li>18</li>
    <a routerLink="/detail/12-19-2022"> <span class="badge">19</span></a>
    <a routerLink="/detail/12-20-2022"> <span class="badge">20</span></a>
    <a routerLink="/detail/12-21-2022"> <span class="badge">21</span></a>
    <a routerLink="/detail/12-22-2022"> <span class="badge">22</span></a>
    <a routerLink="/detail/12-23-2022"> <span class="badge">23</span></a>
    <li>24</li>
    <li>25</li>
    <a routerLink="/detail/12-26-2022"> <span class="badge">26</span></a>
    <a routerLink="/detail/12-27-2022"> <span class="badge">27</span></a>
    <a routerLink="/detail/12-28-2022"> <span class="badge">28</span></a>
    <a routerLink="/detail/12-29-2022"> <span class="badge">29</span></a>
    <a routerLink="/detail/12-30-2022"> <span class="badge">30</span></a>
    <li>31</li>
  </ul>